<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a href="{% url 'admin_stockholder' %}"><i class="fa fa-user"></i> Stockholder </a>
      </li>
      <li><a href="{% url 'admin_votemaster' %}"><i class="fa fa-edit"></i> Election </a>
      </li>
      <li><a href="{% url 'select_election' %}"><i class="fa fa-bar-chart"></i> Votes </a>
      </li>
      <li><a href="{% url 'eballot_list' %}"><i class="fa fa-hdd-o"></i> EBallot Form </a>
      </li>
      <li><a href="{% url 'result' %}"><i class="fa fa-trophy"></i> Result </a>
      </li>
     <li><a><i class="fa fa-file-text"></i>Reports<span class="fa fa-chevron-down"></span></a>
											<ul class="nav child_menu">
												<li><a href="{% url 'select_election_report' %}">Voters Lists</a>
												</li>
												<li><a href="{% url 'vote_history' %}">Vote History</a>
												</li>
											</ul>
										</li>

    </ul>
  </div>


</div>