{% extends 'admin/main.html' %}
{% load staticfiles %}
{% block content %}

        <!-- page content -->
      <form>
        <div class="right_col" role="main">
          <div class="page-title">
          </div>
          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                
                    <h2>Vote History Report</h2>
                    <ul class="nav navbar-right panel_toolbox">
                            <!-- FORM VALIDATION - APPEAR IF IT HAS A ERROR -->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                              
                                <div class="row">
                                  <div class="col-md-6">
                                  <p class="lead"><small>&nbsp;&nbsp;&nbsp; Election code:<b> {{ election_code }}</b></small> </p>
                                  </div>
                                </div>
                                        
                    <!-- STOCKHOLDER DATA TABLE -->
                    <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                              <th>Nominee Name</th>
                              <th>Vote Score</th>
                              <th>Result</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!--  ******************** NOTE **********************-->
                            <!-- Dont remove the delete and update Modals Inside the STOCKHOLDER DATA TABLE comments -->
                           
                            {% for list in history %}
                            <tr>                    
                              <td>{{list.nominee_fullname}}</td>
                              <td>{{list.total_vote}}</td>
                              <td class = "text-success"><b>{{list.result}}</b></td>
                            </tr>  
                            {% endfor %}
					
                  </div>
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <div class="clearfix"></div>
        

{% endblock %}