{% extends 'admin/main.html' %}
{% load staticfiles %}
{% block content %}

        <!-- page content -->
      <form>
        <div class="right_col" role="main">
          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                
                    <h2>Voters Master List Report</h2>
                    <ul class="nav navbar-right panel_toolbox">
                            <!-- FORM VALIDATION - APPEAR IF IT HAS A ERROR -->
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                             
                             
                                <div class="row">
                                  <div class="col-md-6">
                                  <p class="lead"><small>&nbsp;&nbsp;&nbsp; Election code:<b> {{ election_code }}</b></small> </p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                  <p class="lead"><small>&nbsp;&nbsp;&nbsp; Total E-Ballot Generated:<b> {{ count.eballot_count }} </b></small></p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                  <p class="lead"><small>&nbsp;&nbsp;&nbsp; Total Stockholder Voters:<b> {{ count.eballot_count }} </b></small></p>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                  <p class="lead"><small>&nbsp;&nbsp;&nbsp; Total Potential Vote:<b>  {{ eballot_data }} </b></small></p>
                                  </div>
                                </div>
                            
                    <!-- STOCKHOLDER DATA TABLE -->
                    <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                              <th>Voters Name</th>
                              <th>EBallot No.</th>
                              <th>Potential Vote</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!--  ******************** NOTE **********************-->
                            <!-- Dont remove the delete and update Modals Inside the STOCKHOLDER DATA TABLE comments -->
                           
                            {% for list in eballot %}
                            <tr>                    
                              <td>{{list.sh_fullname}}</td>
                              <td>{{list.eballot_num}}</td>
                              <td>{{list.vote_allocated}}</td>
                            </tr>  
                            {% endfor %}
					
                  </div>
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <div class="clearfix"></div>
        

{% endblock %}