{% extends 'admin/main.html' %}
{% load staticfiles %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
              <h2>Stockholder</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">

                    <div class="col-md-9 col-sm-9  offset-md-3">
                        <a href="{% url 'admin_stockholder' %}">
                        <button type="submit" class="btn btn-round btn-secondary pl-4">Manage <i class="ti ti-arrow-right pl-4"></i></button>
                        </a>
                    </div>
           
              </article>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
              <h2>Election</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">

                    <div class="col-md-9 col-sm-9  offset-md-3">
                        <a href="{% url 'admin_votemaster' %}">
                        <button type="submit" class="btn btn-success">Manage <i class="ti ti-arrow-right pl-4"></i></button>
                        </a>
                    </div>
           
              </article>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="x_panel">
            <div class="x_title">
              <h2>Votes</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <article class="media event">

                    <div class="col-md-9 col-sm-9  offset-md-3">
                        <a href="{% url 'select_election' %}">
                        <button type="button" class="btn btn-success">Manage <i class="ti ti-arrow-right pl-4"></i></button>
                        </a>
                    </div>
           
              </article>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
{% endblock content %}