{% extends 'admin/main.html' %}
{% load staticfiles %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="page-title">
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Dashboard<small></small></h2>

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="container body">
                <div class="main_container">
                  <!-- page content -->
                  <div class="col-md-12">
                    <div class="col-middle">
                      <div class="text-center text-center">
                        <h1 class="error-number">404</h1>
                        <h2>Coming Soon</h2>
                        <p>Page is under Maintenance. We will fix this soon as possible. THANK YOU
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- /page content -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}