{% extends 'admin/main.html' %}
{% load staticfiles %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Stockholder<small>Master List</small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                      <li><button class="btn btn-sm btn-round btn-primary pl-4 pr-4 " data-toggle="modal" data-target="#exampleModalCenter"> Create <i class="ti ti-plus pl-2"></i> </button></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">

					
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th>Action</th>
                          <th>Profile Picture</th>
                          <th>First name</th>
                          <th>Last name</th>
                          <th>Position</th>

                          <th>E-mail</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for list in sh_list %}
                          
                        
                        <tr>
                          <td>
                            <button class="btn btn-sm btn-round btn-danger pl-4 pr-4 "  data-toggle="modal" data-target="#delete{{ list.id }}" data-id="{{ list.id }}">Delete</button>
                            <button class="btn btn-sm btn-round btn-success pl-4 pr-4 " data-toggle="modal" data-target="#update{{ list.id }}" data-id="{{ list.id }}">Update</button>
                          </td>
                          <td> <img src="{% static 'images/author/avatar.png' %} " alt="" class="justify-content-center"></td>
                          <td>{{list.sh_fname}}</td>
                          <td>{{list.sh_lname}}</td>
                          <td>{{list.sh_position}}</td>
                          <td>{{list.sh_email}}</td>
                        </tr>


                        <!-- DELETE MODAL -->
                        <div class="modal fade" id="delete{{ list.id }}">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Stockholder</h5>
                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                    </div>
                                    <form action="{% url 'delete_stockholder' pk=list.id %}" method="POST">
                                      {% csrf_token %}
                                    <div class="modal-body">
                                        <p>Are you sure to Delete this Data?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-xs btn-round btn-secondary pl-4 pr-4" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-xs btn-round btn-danger pl-4 pr-4">Confirm</button>
                                    </div>
                                    </form> 
                                </div>
                            </div>
                        </div>
                        <!-- END of DELETE MODAL -->


                        <!-- CREATE MODAL -->
                        <div class="modal fade bd-example-modal-lg" id="update{{ list.id }}">
                          <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">Update Stockholder</h5>
                                      <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                  </div>
                                  <div class="modal-body">

                                    <form class="form-label-left input_mask m-2" action="{% url 'update_stockholder' pk=list.id %}" method="POST" enctype="multipart/form-data">
                                      {% csrf_token %}
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="lastname">First Name</label>
                                        <input type="text" class="form-control" name="sh_fname"  value="{{list.sh_fname}}">
                                        
                                      </div>
                  
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Last Name </label>
                                        <input type="text" class="form-control" name="sh_lname" value="{{list.sh_lname}}">
                                      </div>
                  
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Middle Name</label>                       
                                        <input type="text" class="form-control" name="sh_mname" value="{{list.sh_mname}}">

                                      </div>
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Email</label>
                                        <input type="email" class="form-control" name="sh_email" value="{{list.sh_email}}">
                                      </div>
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Position</label>
                                        <input type="text" class="form-control" name="sh_position" value="{{list.sh_position}}">
                                      </div>

                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Photo</label>
                                        <input type="file" class="form-control" name="company_images" >
                                      </div>
                  
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Proxy First Name</label>
                                        <input type="text" class="form-control" name="sh_proxy_fname" value="{{list.sh_proxy_fname}}">
                                      </div>
                  
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Proxy Last Name</label>
                                        <input type="text" class="form-control" name="sh_proxy_lname" value="{{list.sh_proxy_lname}}">
                                        
                                      </div>
                                      <div class="col-md-6 col-sm-6  form-group has-feedback">
                                        <label for="fullname">Proxy Middle Name</label>
                                        <input type="text" class="form-control" name="sh_proxy_mname" value="{{list.sh_proxy_mname}}">
                                      </div>          
                                </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-round btn-sm btn-secondary pl-4 pr-4" data-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-round btn-sm btn-primary pl-4 pr-4">Save</button>
                                  </div>
                                </form>
                              </div>
                          </div>
                        </div>
                      <!-- CREATE MODAL -->
                        {% endfor %}
                      </tbody>
                    </table>
					        <!-- CREATE MODAL -->
                  <div class="modal fade bd-example-modal-lg" id="exampleModalCenter">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create Stockholder</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
          
                              <form class="form-label-left input_mask m-2" action="{% url 'admin_stockholder' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="lastname">User Name</label>
                                 {{ user_form.username }}
                                </div>
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="lastname">First Name</label>
                                  {{ form.sh_fname }}
                                </div>
            
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Last Name </label>
                                  {{ form.sh_lname }}
                                </div>
            
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Middle Name</label>                       
                                  {{ form.sh_mname }}
                                </div>
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Email</label>
                                  {{ form.sh_email }}
                                </div>
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Position</label>
                                  {{ form.sh_position }}
                                </div>
          
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Photo</label>
                                  {{ form.company_images }}
                                </div>
            
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Proxy First Name</label>
                                  {{ form.sh_proxy_fname }}
                                </div>
            
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Proxy Last Name</label>
                                  {{ form.sh_proxy_lname }}
                                </div>
                                <div class="col-md-6 col-sm-6  form-group has-feedback">
                                  <label for="fullname">Proxy Middle Name</label>
                                  {{ form.sh_proxy_mname }}
                                </div>          
                          </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-round btn-sm btn-secondary pl-4 pr-4" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-round btn-sm btn-primary pl-4 pr-4">Save</button>
                            </div>
                          </form>
                        </div>
                    </div>
                  </div>
                <!-- CREATE MODAL -->
					
                  </div>
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->



{% endblock %}